# Main
APP_NAME=Jnto
APP_ENV=local
WEB_PORT_CONTAINER_EXPOSE=8086
APP_PORT_CONTAINER_EXPOSE=9086
APP_URL="http://localhost:${WEB_PORT_CONTAINER_EXPOSE}"
APP_KEY=base64:M0pudDBTZWN1cmVBcHBLZXlGb3JFcmNyeXB0aW9uMzI=

# DB
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=jnto
DB_USERNAME=postgres
DB_PASSWORD=123456xyz
DB_PORT_CONTAINER_EXPOSE=5486

# Nginx enable https 
ENABLE_FASTCGI_PARAM_NGINX_HTTPS=off